@model Author
@{
    ViewData["Title"] = "Create";
}

<div class="p-5">
    <div class="text-center">
        <h1 class="h4 text-gray-900 mb-4">Create new Author</h1>
    </div>
    <form class="user" method="post" enctype="multipart/form-data">
        <div class="form-group row justify-content-center">
            <div class="col-sm-6 mb-3 mb-sm-0 text-center">
                <input type="text" asp-for="FullName" class="form-control form-control-user text-center" placeholder="Author Full Name">
                <span class="danger-color" asp-validation-for="FullName"></span>
            </div>
        </div>
        <div class="form-group row justify-content-center">
            <div class="col-sm-6 mb-3 mb-sm-0 text-center">
                <textarea asp-for="BioDesc" class="form-control form-control-user text-center" placeholder="Author Biography" rows="5"></textarea>
                <span class="danger-color" asp-validation-for="BioDesc"></span>
            </div>
        </div>
        <div class="form-group row justify-content-center">
            <div class="col-sm-6 mb-3 mb-sm-0 text-left">
                    <label class="custom-file-label form-control-user d-flex align-items-center justify-content-between" id="lblImageFile" asp-for="ImageFile">
                        <span class="choose-span">Choose file...</span>
                        <span class="browse">
                            <span class="browse-text">Browse</span>
                        </span>
                        <input asp-for="ImageFile" class="d-none">
                    </label>
                    <span class="danger-color" asp-validation-for="ImageFile"></span> 
            </div>
        </div>
        <div class="form-group row justify-content-center">
            <button type="submit" class="btn btn-primary btn-user w-50">
                Create
            </button>
        </div>

    </form>
</div>

