@model ChangePasswordVM
@{
    ViewData["Title"] = "Changepassword";
}

<main class="page-section inner-page-sec-padding-bottom">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-xs-12 col-lg-6 mb--30 mb-lg--0">
                <form method="post">
                    <div class="login-form">
                        <div class="row">
                            <div class="col-12">
                                <h4 class="login-title">Change User Password</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 mb-3">
                                <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                            </div>
                            <div class="col-md-12 col-12 mb--15">
                                <label asp-for="OldPassword">Old Password</label>
                                <input class="mb-0 form-control" asp-for="OldPassword" placeholder="Enter your old password">
                                <span class="text-danger" asp-validation-for="OldPassword"></span>
                            </div>
                            <div class="col-12 mb--20">
                                <label asp-for="NewPassword">New Password</label>
                                <input class="mb-0 form-control" asp-for="NewPassword" placeholder="Enter Your new password">
                                <span class="text-danger" asp-validation-for="NewPassword"></span>
                            </div>
                            <div class="col-12 mb--20">
                                <label asp-for="ConfirmPassword">Repraid Password</label>
                                <input class="mb-0 form-control" asp-for="ConfirmPassword" placeholder="Enter Your confirm password">
                                <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                            </div>
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-outlined">Change Password</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>

