@model Setting
@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <h1 class="text-info">Setting Panel</h1>
        </div>
        <div class="col-6 d-flex justify-content-end align-items-center">
            <div>
                <a asp-action="edit" class="btn btn-outline-info">Edit Setting Parameters</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Phone 1
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-600">@Model.Phone1</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Phone 2
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-600">@Model.Phone2</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                E-mail
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-600">@Model.Email</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 mb-4">
            <div class="card border-left-danger shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                                Address
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-600">@Model.Address</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-md-12 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning mb-1">
                                Header Logo
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-600">
                                <img style="width:100%" src="~/image/@Model.HeaderLogo" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @if (Model.FooterLogo != null)
        {
            <div class="col-xl-6 col-md-12 mb-4">
                <div class="card border-left-warning shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-warning mb-1">
                                    Footer Logo
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-600">
                                    <img style="width:100%" src="~/image/@Model.FooterLogo" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

