@model Tag
@{
    ViewData["Title"] = "Update";
}

<div class="p-5">
    <div class="text-center">
        <h1 class="h4 text-gray-900 mb-4">Update Tag</h1>
    </div>
    <form class="user" method="post">
        <div class="form-group row justify-content-center">
            <div class="col-sm-6 mb-3 mb-sm-0 text-center">
                <input type="text" asp-for="@Model.Name" class="form-control form-control-user text-center" id="name">
                <span class="danger-color" asp-validation-for="@Model.Name"></span>
            </div>
        </div>
        <div class="form-group row justify-content-center">
            <button type="submit" class="btn btn-warning btn-user w-50">
                Update
            </button>
        </div>

    </form>
</div>