@model List<Comment>
@foreach (var item in Model)
{
    <div class="review-comment mb--20">
        <div class="avatar">
            <img src="~/image/icon/author-logo.png" alt="">
        </div>
        <div class="text">
            <div class="rating-block mb--15">
                @for (int i = 1; i <= 5; i++)
                {
                    <span class="ion-android-star-outline @(i<=item.Rate?"star_on":"")"></span>
                }
            </div>
            <h6 class="author">
                @item.AppUser.FullName – <span class="font-weight-400">@item.CreatedAt.ToString("HH:mm MMMM dd, yyyy")</span>
            </h6>
            <p>
                @item.Text
            </p>
        </div>
    </div>

}